:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fc5a31;
    --primary-color-second: #ffe4dd;
    --primary-color-hover: #ee7253;
    --header-height: 120px;
    --navbar-height: 31px;
}

*{
    box-sizing: inherit;
}



html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__grow{
    display:flex;
    flex-wrap: wrap;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn{
    text-decoration: none;
    color: var(--text-color);
    background-color: white;
    min-width: 100px;
    min-height: 30px;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
}

.btn:hover{
    background-color:rgba(0,0,0,0.09);
    cursor: pointer;
}

.btn.btn-primary{
    background-color:var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 2px;
}
.btn.btn-primary:hover{
    background-color:var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn.btn-none-outline{
    outline: none;
    border: 0;
}

