:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fc5a31;
    --primary-color-second: #ffe4dd;
    --primary-color-hover: #ffcdc1;
}

*{
    box-sizing: inherit;
}



html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__grow{
    display:flex;
    flex-wrap: wrap;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}