.header{
    height: 120px;
    background-image: linear-gradient(0,  #f53e2d,#fe6533)
}

.header__navbar{
    display: flex;
    justify-content: space-between;
} 

.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 4px;
}

.header__navbar-item{
    display: inline-block;
    font-weight: 300;
    margin: 0px 8px;
    position: relative;
}


.header__navbar-item, .header__navbar-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color)
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-icon-link:hover, .header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item-divider::after{
    display: block;
    position: absolute;
    content: "";
    border-left:1px solid #FB8096;
    height:14px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.header__navbar-item:hover{
    color:rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 3px;
}

.header__navbar-item--no-pointer{
    color: var(--white-color);
    cursor: text;
}

/* QR CODE */
.header__qr-code{
    width: 150px;
    position: absolute;
    top: 140%;
    right: 0px;
    padding: 2px;
    background-color: white;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease 0.3s;
}

.header__navbar-item--hover:hover .header__qr-code ,.header__navbar-item--hover:hover .header__notify{
    display: block;
}

.header__navbar-item--hover::before{
    position: absolute;
    content: "";
    right: 0;
    top: 16px;
    width: 100%;
    height: 8px;
}

.img__qr-code {
    width: 100%;
}

.footer__qr-code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer__img-qr-code{
    height: 13px;
    margin-bottom: 4px;
}
.qr-icon-link:nth-child(2){
    margin-right:10px;
}



.qr-icon-link:nth-child(1), .qr-icon-link:nth-child(3){
    margin-left: 10px;
}

/* Notification */
.header__notify{
    position: absolute;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 400px;
    top: 150%;
    right: 0;
    display: none;
    user-select: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrow ease-in 0.2s;
}
@keyframes headerNotifyGrow{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before{
    content: "";
    border: 26px solid;
    position: absolute;
    top: -35px;
    right: 17px;
    cursor: default;
    border-color: transparent transparent white transparent;
}

.header__notify::after{
    content: "";
    position: absolute;
    width: 95px;
    height: 24px;
    top: -8px;
    right: 0;
    cursor: default;
    background-color: transparent;
}
.header__notify-text{
    color: var(--text-color);
    font-weight: 400;
    display: flex;
    padding: 10px 0;
    opacity: 0.8;
    margin-left: 12px;
}

.header__notify-text:hover, .header__notify-item-footer:hover{
    cursor: default;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{

}
.header__notify-item-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-item-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color-second);
}

.header__notify-item-link:hover{
    background-color: var(--primary-color-hover);
}


.header__notify-item-link-viewed{
    background-color: var(--white-color);
}
.header__notify-item-product{
    margin-left: 12px;
}

.header__notify-item-product span{
    display: block;
    text-align:justify;
}
.header__notify-item-title{
    font-weight: 400;
    font-size: 1.4rem;
}
.header__notify-item-description{
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 4px;
}

.header__notify-item-footer{
    padding: 12px;
    text-align: center;
    
}
.header__notify-footer-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

