.header{
    height: 120px;
    background-image: linear-gradient(0,  #f53e2d,#fe6533)
}

.header__navbar{
    display: flex;
    justify-content: space-between;
} 

.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 4px;
}

.header__navbar-item{
    display: inline-block;
    font-weight: 300;
    margin: 0px 8px;
    position: relative;
}


.header__navbar-item, .header__navbar-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color)
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-icon-link:hover, .header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item-divider::after{
    display: block;
    position: absolute;
    content: "";
    border-left:1px solid #FB8096;
    height:14px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.header__navbar-item:hover{
    color:rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 3px;
}

.header__navbar-item--no-pointer{
    color: var(--white-color);
    cursor: text;
}

/* QR CODE */
.header__qr-code{
    width: 150px;
    position: absolute;
    top: 140%;
    right: 0px;
    padding: 2px;
    background-color: white;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease 0.3s;
}

.header__navbar-item--hover:hover .header__qr-code{
    display: block;
}

.header__navbar-item--hover::before{
    position: absolute;
    content: "";
    right: 0;
    top: 16px;
    width: 100%;
    height: 8px;
}

.img__qr-code {
    width: 100%;
}

.footer__qr-code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer__img-qr-code{
    height: 13px;
    margin-bottom: 4px;
}
.qr-icon-link:nth-child(2){
    margin-right:10px;
}



.qr-icon-link:nth-child(1), .qr-icon-link:nth-child(3){
    margin-left: 10px;
}

